/*HAR HAR MAHADEV*/
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
 /* grid-template-rows: repeat(13, auto);
  grid-template-columns: repeat(5, auto);*/
  /*background-color: darkblue;
/*  grid-template-areas: 
  "header header header header header"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav main main main"
  "nav nav footer footer footer";*/
}
#all{
  height:100%;
  display: flex;
  flex-flow: row wrap;
  position: static;
  /* background-color: black; */
  z-index: 1;
}
nav{
  display: none;
}
header{
  display: flex;
  width: 100%;
  justify-content: center;
  grid-area: header;
  position: sticky;
  background-image: url("https://media.istockphoto.com/id/1035676256/photo/background-of-galaxy-and-stars.jpg?s=612x612&w=0&k=20&c=dh7eWJ6ovqnQZ9QwQQlq2wxqmAR7mgRlQTgaIylgBwc=");
/*  font-size: 45px;*/
  /* border-bottom-right-radius: 45px; */
  /* border-bottom-left-radius: 45px; */
  border: 9px solid blue;
  /*background-color: #1c003d;*/
  color: cyan;
  cursor: pointer;
}
main{
  grid-area: main;
  background-color: orangered;
  font-size: 45px;
  color: cyan;
  /* border-radius: 45px; */
  border: 9px solid blue;
}
footer{
  grid-area: footer;
  background-color: cyan;
  width: 100%;
  padding: 2%;
  /* border-radius: 45px; */
  border: 9px solid blue;
}
/*#cross{
  display: flex;
  justify-content: center;
  position: fixed;
  text-decoration: none;
  right: 80%;
  top: 0%;
  border-radius: 45px;
  border: 9px solid yellow;
}*/
#webdev{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* height: 35%; */
  flex-flow: column wrap;
  background-color: blue;
  font-size: 45px;
  border-radius: 45px;
  border: 9px solid cyan;
}
#java{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  cursor: pointer;
  /* height: 35%; */
  background-color: blue;
  font-size: 45px;
  border-radius: 45px;
  border: 9px solid cyan;
}
#cpp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  cursor: pointer;
  /* height: 35%; */
  background-color: blue;
  font-size: 45px;
  border-radius: 45px;
  border: 9px solid cyan;
}
#python{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  cursor: pointer;
  /* height: 35%; */
  background-color: blue;
  font-size: 45px;
  border-radius: 45px;
  border: 9px solid cyan;
}
ul{
  display: flex;
  gap: 60px;
  flex-flow: column wrap;
  list-style: none;
}
/*.nav{
  grid-area: nav;
  display: flex;
  position: fixed;
  font-size: 45px;
  gap: 600px;
  z-index: 3;
  flex-flow: column wrap;
  border-radius: 45px;
  border: 9px solid yellow;
  background-color: cyan;
  width: 60%;
  height: 100%;
  transition: 1s;
}*/
.tutlinks{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-decoration: none;
  transition: none;
  color: cyan;
}
.tutlinks:visited{
  text-decoration: none;
  color:cyan;
}
#java{
display: none;
}
#cpp{
  display: none;
}
#python{
display: none;
}
